/*//////////////////
    status_bar
//////////////////*/

div#TDP_status_bar {
  width: 534px;

  background-color: #F4A460;
  border-radius: 6px;
  height: 38px;
  padding-left: 10px;
  margin-right: 6px;
  float:left;
  margin-bottom:2px;
}

span.TDP_sb_element {
  font-size: 30px;
  float: left;
  top: 2px;
  width: 32.33333333%;
}

span.TDP_sb_health {
  text-align: left;
}

span.TDP_sb_turns {
  text-align: center;
}

span.TDP_sb_score {
  text-align: right;
}

/*//////////////////
    control_bar
//////////////////*/

div#TDP_control_bar {
  width: 534px;

  background-color: #D48440;
  border-radius: 6px;
  height: 38px;
  padding-left: 10px;
  float:left;
  margin-bottom:2px;
}

span.TDP_control_bar_button {
  font-size: 30px;
  float: left;
  top: 2px;
  padding-right: 20px;
  margin-top: 2px;
}



/*//////////////////
    game board
//////////////////*/

div#TDP_board {
  float: left;
  width: 550px;
  padding-bottom: 10px;
}

div.TDP_board_inner {
}

div.TDP_board_row {
}

div.TDP_board_tile {
  width: 42px;
  height: 42px;
  font-size: 40px;
  float: left;
  position: relative;
}

@keyframes flash {
  from {opacity:1;}
  to {opacity: 0;}
}

.flashing {
  animation-name: flash;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

div.TDP_board_tile_overlay {
  width: 42px;
  height: 42px;
  font-size: 40px;
  position:absolute;
  top: 0;
  left: 0;
  //background-color: black; // TODO remove this

}

/*///////////////////
   on-page readout
///////////////////*/

div#TDP_readout {
  float: left;
  height: 406px;
  width: 530px;

  border: 2px solid black;
  padding: 5px;
  border-radius: 6px;
}

div.TDP_readout_message {

}

span.TDP_readout_major {
  font-size: 40px;
  color: saddlebrown;
}

span.TDP_readout_minor {
  color: #666666;
}

div.TDP_readout_message:nth-child(4) {
  opacity: 0.75;
}

div.TDP_readout_message:nth-child(5) {
  opacity: 0.5;
}

div.TDP_readout_message:nth-child(6) {
  opacity: 0.25;
}

/*///////////////////
   end-game overlay
///////////////////*/

div#TDP_end_game {
  /* This will be shown when the game ends */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: lightgray;
  opacity: 0.75;
  text-align: center;
}

h1.TDP_end_game_title {
  width: 100%;
  text-align: center;
  font-size: 140px;
}

div.TDP_end_game_button_panel {
  display: inline-block;
  text-align: center;
}

div.TDP_end_game_button {
  display: inline-block;
  text-align: center;
  height: 32px;
  width: 120px;
  padding-top: 8px ;
  background-color: black;
  margin: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
}

a.TDP_end_game_button {

}

a.TDP_end_game_button:visited {
}

