/*//////////////////
    status_bar
//////////////////*/

div#TDP_status_bar {
  width: 534px;

  background-color: sandybrown;
  border-radius: 6px;
  height: 38px;
  padding-left: 10px;
  float:left;
}

span.TDP_sb_element {
  font-size: 30px;
  float: left;
  top: 2px;
  width: 32.33333333%;
}

span.TDP_sb_health {
  text-align: left;
}

span.TDP_sb_turns {
  text-align: center;
}

span.TDP_sb_score {
  text-align: right;
}

/*//////////////////
    game board
//////////////////*/

div#TDP_board {
  float: left;
  width: 550px;
  padding-bottom: 10px;
}

div.TDP_board_inner {
}

div.TDP_board_row {
}

div.TDP_board_tile {
  width: 42px;
  height: 42px;
  font-size: 40px;
  float: left;
  position: relative;
}

@keyframes flash {
  from {opacity:1;}
  to {opacity: 0;}
}

.flashing {
  animation-name: flash;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

div.TDP_board_tile_overlay {
  width: 42px;
  height: 42px;
  font-size: 40px;
  position:absolute;
  top: 0;
  left: 0;
  //background-color: black; // TODO remove this

}

/*///////////////////
   on-page readout
///////////////////*/

div#TDP_readout {
  float: left;
  height: 406px;
  width: 530px;

  border: 2px solid black;
  padding: 5px;
  border-radius: 6px;
}

div.TDP_readout_message {

}

span.TDP_readout_major {
  font-size: 40px;
  color: saddlebrown;
}

span.TDP_readout_minor {
  color: #666666;
}

div.TDP_readout_message:nth-child(4) {
  opacity: 0.75;
}

div.TDP_readout_message:nth-child(5) {
  opacity: 0.5;
}

div.TDP_readout_message:nth-child(6) {
  opacity: 0.25;
}
