div#TDP_board { }

div#TDP_readout { }

div.TDP_board_inner {  }

div.TDP_board_row {

}

div.TDP_board_tile {
  width: 42px;
  height: 42px;
  font-size: 40px;
  float: left;
  position: relative;
}


